xmlschema/tests/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <schema xmlns:ns="ns" xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="ns" elementFormDefault="unqualified" version="1.1">
        <element name="A" type="ns:A_type" />
        <complexType name="A_type">
            <sequence>
                <element name="B1" type="string"/>
                <element name="B2" type="integer"/>
                <element name="B3" type="boolean"/>
            </sequence>
        </complexType>
    </schema>