tests/test_cases/issues/issue_266/issue_266-2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
 <xsd:element name="TestField" type="TestFieldType">
    <xsd:annotation>
        <xsd:documentation>
            <div xmlns="http://www.w3.org/1999/xhtml">
               <h3>Some documentation</h3>
            </div>
         </xsd:documentation>
      </xsd:annotation>
 </xsd:element>
 <xsd:complexType name="TestFieldType">
    <xsd:attribute name="testattribute" use="optional" type="xsd:string"/>
 </xsd:complexType>
</xsd:schema>

