tests/test_cases/features/wsdl/wsdl11_example3_types.xsd

<?xml version="1.0"?>
<schema targetNamespace="http://example.com/stockquote.xsd"
      xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="SubscribeToQuotes">
      <complexType>
          <all>
              <element name="tickerSymbol" type="string"/>
          </all>
      </complexType>
  </element>
  <element name="SubscriptionHeader" type="anyURI"/>
</schema>
