tests/test_cases/issues/issue_372/issue_372.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="parentTag">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="requiredChildTag" minOccurs="1" maxOccurs="1"/>
                <xs:element ref="optionalSecondChildTag" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="requiredChildTag"/>
    <xs:element name="optionalSecondChildTag"/>
</xs:schema>