tests/test_cases/issues/issue_424/issue_424.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">
    <xs:element name="parentTag">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="optionalTagA" minOccurs="0" maxOccurs="1"/>
                <xs:element ref="optionalTagB" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="optionalTagA">
    </xs:element>
    <xs:element name="optionalTagB">
    </xs:element>
</xs:schema>