tests/test_cases/examples/menù/menù-cp1252.xsd

<?xml version='1.0' encoding='CP1252'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="menù">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="antipasto" type="xs:string" maxOccurs="10"/>
        <xs:element name="primo" type="xs:string" maxOccurs="10"/>
        <xs:element name="secondo" type="xs:string" maxOccurs="10"/>
        <xs:element name="dolce" type="xs:string" maxOccurs="10"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>