tests/test_cases/features/namespaces/dynamic-case1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
  A base schema for dynamic loading driven by XSI schema locations.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="elem1" />
  <xs:element name="elem2" />

  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="elem1" />
        <xs:element ref="elem2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>

