xmlschema/tests/cases/issues/issue_051/issue_051.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" >

	<xs:element name="KeyValuePairs" type="KeyValuePairsType"/>
	<xs:complexType name="KeyValuePairsType">
		<xs:all>
			<xs:element type="xs:string" name="test2" minOccurs="0" maxOccurs="1" />
			<xs:element type="xs:string" name="test3" minOccurs="0" maxOccurs="1" />
			<xs:element type="xs:string" name="test4" minOccurs="0" maxOccurs="1" />
			<xs:element type="xs:string" name="test5" minOccurs="0" maxOccurs="1" />
			<xs:element type="xs:string" name="test6" minOccurs="0" maxOccurs="1" />
			<xs:element type="xs:string" name="test7" minOccurs="0" maxOccurs="1" />
			<xs:element type="xs:string" name="test" minOccurs="1" maxOccurs="1" />
		</xs:all>
	</xs:complexType>
</xs:schema>