tests/test_cases/issues/issue_315/issue_315_simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlschema.test/ns"
           xmlns:tst="http://xmlschema.test/ns"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="e1" type="tst:t1"/>
  <xs:complexType name="t1">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="a1"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>