xmlschema/tests/test_cases/features/models/illegal-occurs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Illegal minOccurs and maxOccurs declarations -->
<xs:schema xmlns="ns" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="ns" >
    <xs:element name="data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="comment" type="xs:string" minOccurs="4" maxOccurs="3"/>
                <xs:element name="name" type="xs:string" minOccurs="4" maxOccurs="2"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
